.episodes-list-title {
	width: 100%;
}

.episodes-list-duration {
	text-align: center;
}

.episode-title-skeleton {
	width: 100%;
	height: 5rem;
}
.episode-list-skeleton {
	width: 100%;
	height: 50rem;
}

.episodes-title {
	margin: 0;
}
