.episode-detail-title {
	margin-top: 0;
}

.episode-detail-description {
	font-style: italic;
}

.episode-detail-audio-controls {
	width: 100%;
}

.episode-detail-audio-controls.loading {
	opacity: 0.5;
	pointer-events: none;
}
